mixin prices-item(title, price, description1, description2, description3, description4, description5, button)
    .prices__card.card
        h3.card__title=title
        p.card__price=price
        p.card__description=description1
        p.card__description=description2
        p.card__description=description3
        p.card__description=description4
        p.card__description=description5
        button.card__button=button